<h1><%= @survey.title %></h1>
<h4>Created on: <%= @survey.created_at.strftime("%B %e, %Y") %></h4>
<h4>Last Updated: <%= @survey.updated_at.localtime("-08:00").strftime("%I:%M %p") %></h4>

<a href="/<%=@survey.id%>/questions/new"><button class="btn">Edit the survey</button></a>
<br>
<br>
  <div class="well">
    <% if @survey.questions %>
      <form class="" action="index.html" method="post">
        <% @survey.questions.each do |question| %>
          <input type="hidden" name="question_id" id="<%= question.id() %>">
          <h3>Title: <%= question.title %></h3>
          <p>Description: <%= question.description%></p>
          </p> Type of Question: <%= question.question_type %></p>
          <label for="user_content">Enter your question</label>
          <input type="text" name="user_content" class="form-control">
        <% end %>
        <button type="submit" name="button" class="btn">Take the survey</button>
      </form>
    <% end %>
  </div>
