<h1><%= @survey.title %></h1>
<h4>Created on: <%= @survey.created_at.strftime("%B %e, %Y") %></h4>
<h4>Last Updated: <%= @survey.updated_at.localtime("-08:00").strftime("%I:%M %p") %></h4>

<a href="/<%=@survey.id%>/questions/new"><button class="btn">Edit the survey</button></a>
<br>
<br>
  <div class="well">
    <% if @survey.questions %>
      <form action="/surveys/<%=@survey.id%>/submit" method="post">
        <% @survey.questions.each do |question| %>
          <%if question.question_type == "multiple_choice" %>
            <% if question.choice != ''%>
              <div class="radio">
                <label for="radio"><input type="radio" value = '<%= question.choice %>'><%= question.choice %></label>
              </div>
            <% end %>
            <% if question.choice2 != ''%>
            <div class="radio">
              <label for="radio"><input type="radio" value = '<%= question.choice2 %>'><%= question.choice2 %></label>
            </div>
            <% end %>
            <% if question.choice3 != ''%>
            <div class="radio">
              <label for="radio"><input type="radio" value = '<%= question.choice3 %>'><%= question.choice3 %></label>
            </div>
            <% end %>
            <% if question.choice4 != ''%>
            <div class="radio">
              <label for="radio"><input type="radio" value = '<%= question.choice4 %>'><%= question.choice4 %></label>
            </div>
            <% end %>
          <% else %>
            <div class="form-group">
              <input type="hidden" name="question_id" id="<%= question.id() %>">
              <label for="user_content"><%= question.title %>:</label>
              <input type="text" name="user_content_<%= question.id %>" class="form-control" placeholder="<%=question.description%>">
            </div>
          <% end %>
        <% end %>
        <button type="submit" name="button" class="btn">Submit</button>
      </form>
    <% end %>
  </div>
